@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals.css */
body {
  font-family: var(--font-darker-grotesque), sans-serif;
}

.darker-text {
  font-family: var(--font-darker-grotesque), sans-serif;
}

@font-face {
  font-family: "TAN-NIMBUS";
  src: url("fonts/TAN-NIMBUS.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
