@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals.css */
body {
  font-family: var(--font-darker-grotesque), sans-serif;
}

.darker-text {
  font-family: var(--font-darker-grotesque), sans-serif;
}

@font-face {
  font-family: "TAN-NIMBUS";
  src: url("fonts/TAN-NIMBUS.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.scroll-smooth {
  scroll-behavior: smooth;
}

/* Hide scrollbar for WebKit browsers */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/*  Hide scrollbar for other browsers */
.scrollbar-hide {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}